@font-face {
  font-family: vazir;
  src: url(../../public/Vazir-Regular-FD.woff);
}
*,
html,
body {
  font-family: vazir;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #e2e8f0;
}
::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #919cac;
}
.scrollBar-purple::-webkit-scrollbar-thumb {
  background: #7414ad;
}
